.mainmap {
  position: relative;
  background: #282828;
}

.mainmap-image {
  width: 100vw;
  height: auto;
}

.mainmap-icons {
  list-style: none;
}

.mainmap-icon {
  position: absolute;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: top left;
  transition: transform 300ms ease;
}

.mainmap-icon:hover {
  transform: scale(1.1) translate(-50%, -50%);
  transform-origin: top left;
  transition: transform 300ms ease;
}
.mainmap-icon-image {
  max-height: 12vw;
}
