.popup-menu {
  background-color: var(--color-white);
  position: absolute;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 2px 2px 8px var(--color-black);
}
.popup-content {
  text-align: justify;
  color: var(--color-black);
}

.popup-content p {
  text-align: justify;
}

.popup-content h2 {
  text-align: center;
}

.popup-content a {
  color: var(--color-black);
}
