@import "variables.scss";

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

li,
ul,
p,
h1,
h2,
h3,
h4,
h5,
a {
  // font-family: "Ubuntu";
  font-family: $antic-slab;
  margin: 0;
  padding: 0;
  color: $black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ------------------- CSSTransitionGroup ----------------------- */

.fade-in {
  &-enter {
    opacity: 0;
    transform: translateY(20px);
  }
  &-enter-active {
    opacity: 1;
    transform: translateY(0);
  }
  &-exit {
    opacity: 1;
    transform: translateY(0);
  }
  &-exit-active {
    opacity: 0;
    transform: translateY(20px);
  }
  &-appear {
    opacity: 0;
    transform: transateY(20px);
  }
  &-appear-done {
    opacity: 1;
    transform: transateY(0);
  }

  &-exit-active,
  &-enter-active,
  &-appear-done {
    transition: opacity $speed-fast ease-in, transform $speed-fast ease;
  }
}

.slide-in {
  &-enter {
    opacity: 0;
    transform: translate(50%, 50%);
  }
  &-enter-active {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &-exit {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &-exit-active {
    opacity: 0;
    transform: translate(50%, 50%);
  }

  &-exit-active,
  &-enter-active {
    transition: opacity $speed-fast ease, transform $speed-fast ease;
  }
}

.popup {
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
    transition: opacity $speed-fast ease-in-out;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transition: opacity $speed-fast ease-in-out;
  }
}
