@import "variables.scss";

.gallery-container {
  height: 94vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // background: $blue;
}
.photo-grid-item {
  height: 100%;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);

  & .photo-container {
    font-family: $sans-serif;
    font-size: 2rem;
    background-color: $grey;
    color: $white;
    overflow: hidden;
    box-shadow: $box-shadow-2;

    &:nth-child(4) {
      grid-column: span 1;
      grid-row: span 1;
    }
    &:nth-child(1),
    &:nth-child(3) {
      grid-column: span 2;
      grid-row: span 2;
    }
    &:nth-child(5) {
      grid-column: span 2;
      grid-row: span 3;
    }
    &:nth-child(6) {
      grid-column: span 3;
      grid-row: span 2;
    }
    &:nth-child(2) {
      grid-column: span 3;
      grid-row: span 3;
    }

    &:hover .photo {
      color: $yellow;
    }
  }
}

.photo {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: cover;
  background-position: center;
  transition: all ease-in-out 300ms;

  &:hover {
    transform: scale(1.1);
    transition: all ease-in-out 300ms;
  }
}

.full {
  display: flex;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}
