@import "variables.scss";

.spinner-container {
  position: absolute;
  top: 50;
  left: 50;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .spinner {
    margin: 4rem;
  }

  & h1 {
    margin: 2rem;
  }
}
