@import "variables.scss";

.location-selector {
  background-color: $red;
  height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.location-selection-container {
  position: relative;
  height: 100%;
  flex: 1;
  background-color: $blue;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all $speed-fast ease-in-out;
  &:nth-of-type(odd) {
    background-color: $purple;
  }
  &:nth-of-type(even) {
    background-color: $blue;
  }

  &:hover {
    transition: all $speed-fast ease-in-out;
    cursor: pointer;
    flex-grow: 1.1;
  }
}

.location-selection {
  pointer-events: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  transition: transform ease-in-out $speed-fast;
  transform: scale(1);
  &:hover {
    transform: scale(1.1);
    transition: transform ease-in-out $speed-fast;
  }
}

.location-selection-overlay {
  pointer-events: auto;
  background-color: rgba(10, 10, 10, 0.5);
  height: 100%;
  width: 100%;
  position: absolute relative;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color $speed-fast ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &:hover {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color $speed-fast ease-in-out;

    & .hide {
      opacity: 1;
      transition: opacity $speed-fast ease-in-out;
    }

    & h1,
    a {
      color: $black;
      background-color: $white;
      padding: 1rem;
      border-radius: 25px;
    }
  }
  & h1,
  a {
    color: $white;
    text-transform: uppercase;
  }
}

.hide {
  opacity: 0;
  transtion: opacity $speed-fast ease-in-out;
}
