@import "variables.scss";

.mainmap {
  position: relative;
  background: $black;
}

.mainmap-image {
  width: 100vw;
  height: auto;
}

.mainmap-icons {
  list-style: none;
}

.mainmap-icon {
  position: absolute;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: top left;
  transition: transform 300ms ease;
  &:hover {
    cursor: pointer;
  }
}

.mainmap-icon-active {
  transform: scale($scale-up) translate(-50%, -50%);
}

.mainmap-icon:hover {
  transform: scale($scale-up) translate(-50%, -50%);
  transform-origin: top left;
  transition: transform 300ms ease;
}
.mainmap-icon-image {
  max-height: 12vw;
}
