@import "variables.scss";

.popup-content {
  text-align: justify;
  color: $black;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & h2 {
    text-align: center;
    padding: 10px;
    border-bottom: $black solid 0.2rem;
  }

  & button {
    color: $white;
    background: $black;
    border: none;
    outline: none;
    height: 2.5em;
    // align-self: flex-end;
    font-family: $antic-slab;
    font-weight: 700;

    &:hover {
      cursor: pointer;
    }
  }
}
