// @import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");
// colors
$black: #282828;
$white: #ebdbb2;
$red: #cc241d;
$green: #98971a;
$yellow: #d79921;
$blue: #458588;
$purple: #b16286;
$teal: #689d6a;
$light-purple: #a89984;
$grey: #928374;
$pink: #fb4934;
$lime-green: #b8bb26;
$light-yellow: #fabd2f;
$light-blue: #83a598;
$lighter-purple: #d3869b;

// fonts
$sans-serif: "Patua One";
// $antic-slab: "Fira Sans";
$antic-slab: "Antic Slab";

// border
$box-shadow-1: rgba(0, 0, 0, 0.25) 0px 54px 55px,
  rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
  rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
$box-shadow-2: 2px 2px 10px var(--color-black);

// animations
$speed-fast: 300ms;
$speed-slow: 300ms;

$scale-up: 1.1;
